:root {
	/* CSS-variabler */
	--header-bg: #2c3e50;
	--main-bg: #ecf0f1;
	--header-text: #000000;
	--text: #2e2e2e;
}

body {
	font-size: 125%;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: var(--text);
}
header, main {
	padding: 0.5em 1em;
}
header {
	background-color: var(--header-bg);
	color: var(--header-text);
	h1 {
		margin: 0;
	}
}

main {
	background-color: var(--main-bg);
	flex-grow: 1;
}

section {
	border: 1px solid var(--text);
	border-radius: 0.2em;
	padding: 0.75em;
	margin: 0.3em 0;
}