:root {
	/* CSS-variabler */
	--header-bg: #3a5167;
	--main-bg: #e4ecee;
	--header-text: #000000;
	--text: #2e2e2e;
}
/* Enklare hantering av width och height */
* { box-sizing: border-box; }

body {
	font-size: 125%;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: var(--text);
}
header, main {
	padding: 0.5em 1em;
}
header {
	background-color: var(--header-bg);
	color: var(--header-text);
	h1 {
		margin: 0;
	}
}

main {
	background-color: var(--main-bg);
	flex-grow: 1;
}

/* En section för varje övning */
section {
	border: 1px solid var(--text);
	border-radius: 0.2em;
	padding: 0.75em;
	margin: 0.3em 0;
}

/* 7.1 */
.dynamic {
    padding: 1em;
    border-radius: 0.5em;
}
.frame {
    border: 2px dashed rgb(33, 112, 131);
}

/* 7.2 */
h2 {
	font-size: 1.3rem;
	margin: 0;
}
.food-button {
	font-size: 0.9em;
	padding: 0.4em 1.4em;
	border-radius: 0.4em;
	background-color: transparent;
	cursor: pointer;
}
/* food button OCH selected samtidigt */
.food-button.selected {
	background-color: #1c62a8;
}
